body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
}


.layout {
    display: flex;
    min-height: 100vh; 
}

.borda {
    width: 10%; 
    background-color: #09c7cd;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input[type=submit] {
  background-color: #09c7cd;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

th {
    height: 30px;
}

.nome_app {
    display: flex;


}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#content {
    width: 70%;
}

