{%extends 'base.html'%}

{%block head%}
<title>Chat-piloto</title>
{%endblock%}

{%block body%}

<div class="content">
    <h1 style="text-align: center;">Edite o Usuário</h1>
    
    <form action="/editar/{{i.login}}" method="POST" class="form">
        <input type="text" name="Login" id="Login" value="{{i.login}}">
        <br>
        <input type="text" name="Senha" id="Senha" value="{{i.senha}}">
        <br>
        <input type="submit" value="Editar">


    </form>
</div>

{%endblock%}